@model ShopDrop.Models.User

<section class="hero set-bg" data-setbg="../../Content/img/light4.jpg">
<div class="container" style="margin-top: -200px !important;">
    <div class="form-horizontal">
        @if ((string) TempData["ErrorMessage"] == "Please insert a value bigger than 20$")
        {
            <h4 style="color: red;">Please insert a value bigger than 20$.</h4>
        }
            <h4>Balance</h4>
        <hr />
        <div class="form-group">
            <label for="bal" class="control-label col-md-2">Current Balance:</label>
            <div class="col-md-10">
                <input type="number" name="bal" disabled value="@Model.balance" class="form-control" />
            </div>
        </div>

        @using (Html.BeginForm("AddBalance", "Users", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="balance" class="control-label col-md-2">Add Balance:</label>
                <div class="col-md-10">
                    <input type="number" name="balance" value="20" step="1" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Add balance" class="btn btn-success" required placeholder="Please enter money bigger than 20$" />
                </div>
            </div>
        }
    </div>
        </div>
</section>