@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message</h3>

<h2 class="text-center mt-5 mb-5">We provide you a place where you can buy and sell items <b>Easily!</b></h2>

<div class="text-center mt-5 mb-5">
    <h3 class=" text-center mt-5 mb-3">This project is made by:</h3>

    <ul class="list-group list-group-flush w-50">
        <li class="list-group-item">
            Dario Ivanovski 171198
        </li>
        <li class="list-group-item">
            Marko krstevski 171144
        </li>
        <li class="list-group-item">
            Stojance Malinov 171111
        </li>
        <li class="list-group-item">
            Krsitijan Eftimov
        </li>
    </ul>
</div>