@model ShopDrop.Models.Purchase

@{
    ViewBag.Title = "SuccessfulPurchase";
    @*var total = Model.quanityBought * Model.product.Price;*@
}
    <div class="container" style="margin-top: 50px;">
        <h2>SuccessfulPurchase</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">

                <dd>
                    <span>NAME:</span>
                    @*@Html.DisplayFor(model => Model.product.Name)*@
                </dd>
                <dd>
                    @*<p>Total Paid:<span>@total</span></p>*@
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index", "Products")
        </p>
    </div>